---
http_interactions:
- request:
    method: get
    uri: http://webservice.fanart.tv/v3/movies/tt1403865?api_key=3470f9905d5a82d9e91023bf3562a2eb
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
            "name": "True Grit",
            "tmdb_id": "44264",
            "imdb_id": "tt1403865",
            "hdmovielogo": [
                {
                    "id": "13087",
                    "url": "http://assets.fanart.tv/fanart/movies/44264/hdmovielogo/true-grit-50507229c9706.png",
                    "lang": "en",
                    "likes": "5"
                },
                {
                    "id": "47258",
                    "url": "http://assets.fanart.tv/fanart/movies/44264/hdmovielogo/true-grit-52162fcf1b19c.png",
                    "lang": "en",
                    "likes": "2"
                },
                {
                    "id": "73692",
                    "url": "http://assets.fanart.tv/fanart/movies/44264/hdmovielogo/true-grit-53998afa1741c.png",
                    "lang": "es",
                    "likes": "0"
                }
            ],
            "movielogo": [
                {
                    "id": "3735",
                    "url": "http://assets.fanart.tv/fanart/movies/44264/movielogo/true-grit-4faea01245a66.png",
                    "lang": "en",
                    "likes": "2"
                },
                {
                    "id": "3734",
                    "url": "http://assets.fanart.tv/fanart/movies/44264/movielogo/true-grit-4fae9ef5d4ecb.png",
                    "lang": "en",
                    "likes": "1"
                }
            ],
            "moviedisc": [
                {
                    "id": "81558",
                    "url": "http://assets.fanart.tv/fanart/movies/44264/moviedisc/true-grit-54074283b8b50.png",
                    "lang": "en",
                    "likes": "2",
                    "disc": "1",
                    "disc_type": "bluray"
                },
                {
                    "id": "11607",
                    "url": "http://assets.fanart.tv/fanart/movies/44264/moviedisc/true-grit-50435fb425f98.png",
                    "lang": "en",
                    "likes": "0",
                    "disc": "1",
                    "disc_type": "dvd"
                }
            ],
            "moviebanner": [
                {
                    "id": "69653",
                    "url": "http://assets.fanart.tv/fanart/movies/44264/moviebanner/true-grit-5346a2e7ee056.jpg",
                    "lang": "en",
                    "likes": "1"
                },
                {
                    "id": "13088",
                    "url": "http://assets.fanart.tv/fanart/movies/44264/moviebanner/true-grit-5050723c5834e.jpg",
                    "lang": "en",
                    "likes": "0"
                }
            ],
            "moviethumb": [
                {
                    "id": "71048",
                    "url": "http://assets.fanart.tv/fanart/movies/44264/moviethumb/true-grit-536244e67bb56.jpg",
                    "lang": "en",
                    "likes": "1"
                },
                {
                    "id": "13089",
                    "url": "http://assets.fanart.tv/fanart/movies/44264/moviethumb/true-grit-50507248b51dc.jpg",
                    "lang": "en",
                    "likes": "0"
                }
            ],
            "hdmovieclearart": [
                {
                    "id": "18324",
                    "url": "http://assets.fanart.tv/fanart/movies/44264/hdmovieclearart/true-grit-50a569d57d8ed.png",
                    "lang": "en",
                    "likes": "0"
                }
            ],
            "moviebackground": [
                {
                    "id": "49854",
                    "url": "http://assets.fanart.tv/fanart/movies/44264/moviebackground/true-grit-5228d9c9254fa.jpg",
                    "lang": "en",
                    "likes": "0"
                }
            ],
            "movieposter": [
                {
                    "id": "50908",
                    "url": "http://assets.fanart.tv/fanart/movies/44264/movieposter/true-grit-52329cd130835.jpg",
                    "lang": "en",
                    "likes": "0"
                },
                {
                    "id": "50909",
                    "url": "http://assets.fanart.tv/fanart/movies/44264/movieposter/true-grit-52329d01a6ab8.jpg",
                    "lang": "en",
                    "likes": "0"
                }
            ]
        }
  recorded_at: Tue, 03 Feb 2015 03:20:57 GMT
- request:
    method: get
    uri: https://api.themoviedb.org/3/find/tt1403865?api_key=a533c4925884599fa704aaf5a9006983&external_source=imdb_id
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - '"7f9e36e6b05d242f6f208a5c350dc07d"'
      Status:
      - 200 OK
      X-Memc:
      - HIT
      X-Memc-Age:
      - '4189'
      X-Memc-Expires:
      - '6611'
      X-Memc-Key:
      - e64ed5d80c92029c686b5bdc01f313bf
    body:
      encoding: UTF-8
      string: '{"movie_results":[{"adult":false,"backdrop_path":"/wDPmggrApz7nxy4BAQk3rCLi3R6.jpg","id":44264,"original_title":"True
        Grit","release_date":"2010-12-22","poster_path":"/qc7vaF5fIeTllAykdP3wldlMyRh.jpg","popularity":1.17851428338005,"title":"True
        Grit","video":false,"vote_average":6.9,"vote_count":521}],"person_results":[],"tv_results":[],"tv_episode_results":[],"tv_season_results":[]}'
  recorded_at: Tue, 03 Feb 2015 03:20:57 GMT
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/44264/images?api_key=a533c4925884599fa704aaf5a9006983&include_image_language=en,null&language=en
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - '"1b6b337223aef756518cc6ee5c6fe84e"'
      Status:
      - 200 OK
      X-Memc:
      - HIT
      X-Memc-Age:
      - '21323'
      X-Memc-Expires:
      - '277'
      X-Memc-Key:
      - 5b84d7e71cdb30acee7f91a02b2ce01e
    body:
      encoding: ASCII-8BIT
      string: '{"id":44264,"backdrops":[{"aspect_ratio":1.77777777777778,"file_path":"/wDPmggrApz7nxy4BAQk3rCLi3R6.jpg","height":1080,"iso_639_1":null,"vote_average":5.52123552123552,"vote_count":11,"width":1920},{"aspect_ratio":1.77777777777778,"file_path":"/pg3R5Sna0YKoGjlOjbMJkDEl6xs.jpg","height":1080,"iso_639_1":"xx","vote_average":5.44973544973545,"vote_count":9,"width":1920},{"aspect_ratio":1.77777777777778,"file_path":"/d9QGY8PvE3xZSPzegE8jT3dI4xA.jpg","height":1080,"iso_639_1":null,"vote_average":5.44312169312169,"vote_count":9,"width":1920},{"aspect_ratio":1.77777777777778,"file_path":"/lby28iy9lqNuT67tVpSIr8gRT71.jpg","height":1080,"iso_639_1":null,"vote_average":5.42989417989418,"vote_c[...]
