---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/tt1403865/images?api_key=a533c4925884599fa704aaf5a9006983&include_image_language=en,null&language=en
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - '"50839abb362ab8e8eaac0124ba7ccc0a"'
      Last-Modified:
      - ''
      Status:
      - 200 OK
      X-Memc:
      - MISS, STORE
      X-Memc-Age:
      - '0'
      X-Memc-Expires:
      - '21600'
      X-Memc-Key:
      - 71a3721699b06050b475c07244bdd459
    body:
      encoding: ASCII-8BIT
      string: '{"id":44264,"backdrops":[{"aspect_ratio":1.77777777777778,"file_path":"/wDPmggrApz7nxy4BAQk3rCLi3R6.jpg","height":1080,"iso_639_1":null,"vote_average":5.52123552123552,"vote_count":11,"width":1920},{"aspect_ratio":1.77777777777778,"file_path":"/pg3R5Sna0YKoGjlOjbMJkDEl6xs.jpg","height":1080,"iso_639_1":"xx","vote_average":5.44973544973545,"vote_count":9,"width":1920},{"aspect_ratio":1.77777777777778,"file_path":"/d9QGY8PvE3xZSPzegE8jT3dI4xA.jpg","height":1080,"iso_639_1":null,"vote_average":5.44312169312169,"vote_count":9,"width":1920},{"aspect_ratio":1.77777777777778,"file_path":"/lby28iy9lqNuT67tVpSIr8gRT71.jpg","height":1080,"iso_639_1":null,"vote_average":5.42989417989418,"vote_c[...]
