<div id="movie_thumbnails<%= movie.id %>" class="thumbnails hide" refresh="movie<%= movie.id %>">
  <% if movie.fanarts.present? %>
    <% movie.fanarts.shuffle.each do |fanart| %>
      <img class="hidden" data-src="<%= fanart.url %>">
    <% end %>
  <% else %>
    <% movie.thumbnails.shuffle.each do |thumb| %>
      <img class="hidden" data-src="<%= thumb.url %>" alt="">
    <% end %>
  <% end %>
</div>
