<div class="inline-movie-preview">
  <div class="featured-image"></div>
  <div class="slideshow-pool" id="slideshow-pool" refresh="slideshow-pool">
    <%= content_for :movie_slides %>
  </div>
</div>
