<div class="slideshow-pool" id="slideshow-pool" refresh="slideshow-pool">
  <% if movie.fanarts.present? %>
    <% movie.fanarts.shuffle.each do |fanart| %>
      <div class="hidden mbox movie-background" data-src="<%= fanart.url %>"></div>
    <% end %>
  <% else %>
    <% movie.thumbnails.shuffle.each do |thumb| %>
      <div class="hidden mbox movie-background" data-src="<%= thumb.url %>"></div>
    <% end %>
  <% end %>
</div>
