<div class="index-actions flex-wrap">
  <div class="index-actions__section">
    <h3>Discover more movies</h3>
    <%= link_to discover_more_movies_path, class: 'action-button', 'tg-remote' => 'POST' do %>
      <i class="fa fa-binoculars"></i>
      Sure, find me some
    <% end %>
  </div>
</div>
