<div class='tile-row'>
  <div class='col-1-3 flex-down'>
    <% next_movies = movies.shift(2) %>
    <% next_movies.each do |movie| %>
      <%= render 'tile', movie: movie %>
    <% end %>
  </div>
  <div class='col-1-3 flex-down'>
    <% next_movies = movies.shift(2) %>
    <% next_movies.each do |movie| %>
      <%= render 'tile', movie: movie %>
    <% end %>
  </div>
  <div class='col-1-3 flex-down'>
    <% next_movies = movies.shift(2) %>
    <% next_movies.each do |movie| %>
      <%= render 'tile', movie: movie %>
    <% end %>
  </div>
</div>
