<div id="torrent-sources" refresh="torrent-sources">
  <%= render 'shared/sources_table',
        sources: @torrent_sources,
        object_unique_id: "movie-show",
        find_more_path: self.method(:find_sources_movie_path),
        find_more_path_args: [@movie, query: @movie.title],
        download_path: self.method(:download_movie_path),
        download_path_args: [@movie] %>
</div>
