<% content_for :movies_subnav do %>
<ul class="subnav">
  <li>
    <%= link_to 'All', all_movies_path, class: @section == :all ? 'active' : '' %>
  </li>
  <li>
    <%= link_to 'Newest', newest_movies_path, class: @section == :newest ? 'active' : '' %>
  </li>
  <li>
    <%= link_to 'Genres', genres_movies_path, class: @section == :genres ? 'active' : '' %>
  </li>
  <li>
    <%= link_to 'Discover', discover_movies_path, class: @section == :discover ? 'active' : '' %>
  </li>
</ul>
<% end %>
