<div id="yts-sources" refresh="yts-sources">
  <% if sources.present? %>
    <table>
      <thead>
        <tr>
          <td>Quality</td>
          <td>Size</td>
          <td>Ratio</td>
          <td>Seeds</td>
          <td>Peers</td>
        </tr>
      </thead>
      <tbody>
        <% sources.each do |source| %>
          <%= render 'yts_source', source: source %>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>We searched YTS for <em><%= @query %></em>, but it looks like no sources are available at this time :(</p>
  <% end %>
  <div class="clearfix"></div>
</div>
