<%= render 'subnav' %>

<div id="all_movies_by_genre">
  <div class="genres-box">
    <% @genres.each_slice( (@genres.size/3.0).round ) do |genres| %>
      <div>
      <% genres.each do |genre| %>
        <h1><%= link_to genre.name, by_genre_movies_path(genre.name.parameterize) %></h1>
      <% end %>
      </div>
    <% end %>
  </div>
</div>
