<%= render 'subnav' %>

<div id="all_movies_by_genre">
  <% @genres.each do |genre| %>
    <% movie = genre.videos.movies.sample %>
    <% if movie %>
      <h1><%= link_to genre.name, by_genre_movies_path(genre.name.parameterize) %></h1>
      <%= render 'movies_list', movies: [movie] %>
    <% end %>
  <% end %>
</div>
