<%= render 'subnav' %>

<div id="all_movies">
  <% if @movies.present? %>
    <%= render 'movie_meta', movies: @movies %>
    <div class="movies-index panel" class="clearfix">
      <%= render 'movies_list', movies: @movies %>
    </div>
  <% else %>
    <div>No movies found.</div>
  <% end %>
</div>
