<%= render 'subnav' %>

<div id="remote_movies">
  <% if @movies.present? %>
    <%= render 'movie_meta', movies: @movies %>
    <div class="movies-index panel" class="clearfix">
      <%= render 'movies_list', movies: @movies %>
    </div>
    <div class="movie-actions">
      <%= link_to 'Discover more movies', discover_more_movies_path, class: 'action-button' %>
    </div>
  <% else %>
    <div>No movies found.</div>
  <% end %>
</div>
