<div class="video-controls hide">

  <div class="video-controls-group play-group">
    <div class="video-controls-pause video-controls-button">
      <i class="fa fa-pause"></i>
    </div>
    <div class="video-controls-play video-controls-button hide">
      <i class="fa fa-play"></i>
    </div>
    <div class="video-controls-stepback video-controls-button">
      <i class="fa fa-step-backward"></i>
    </div>
  </div>

  <div id="duration-group" class="video-controls-group">
    <div class="progress-bar">
      <div id="duration-bar" class="progress-bar__container">
        <div class="progress-bar__bar"></div>

        <div class="js-duration-remaining duration-remaining"></div>
      </div>
    </div>
  </div>

  <div id="volume-group" class="video-controls-group">
    <div class="progress-bar">
      <div id="volume-bar" class="progress-bar__container">
        <div class="progress-bar__bar" style="width: 100%"></div>
      </div>
    </div>

    <div class="video-controls-mute video-controls-button">
      <i class="fa fa-volume-up"></i>
    </div>
    <div class="video-controls-unmute video-controls-button hide">
      <i class="fa fa-volume-off"></i>
    </div>
  </div>

  <div class="video-controls-group fullscreen-group">
    <div class="video-controls-hue video-controls-button">
      <i class="fa fa-lightbulb-o"></i>
    </div>
    <div class="video-controls-fullscreen video-controls-button">
      <i class="fa fa-arrows-alt"></i>
    </div>
    <div class="video-controls-unfullscreen video-controls-button hide">
      <i class="fa fa-compress"></i>
    </div>
  </div>

</div>
