<div class="video-upnext hidden hide">
  <div class="title-information">
    <h1>Next Up</h1>
    <% if next_episode.present? %>
      <div class="description">
        <p>
          <%= next_episode.overview.presence %>
        </p>
      </div>
    <% end %>
  </div>
  <% if next_episode.present? %>
    <div class="thumbnail-preview">
      <%= link_to video_path(next_episode, t: 0), id: 'next-episode-link' do %>
        <img class="video-thumbnail" src="<%= next_episode.thumbnails.first.url %>" alt="">
      <% end %>
      <span class="starting-in"></span>
    </div>
  <% end %>
</div>
