<div class="video-controls hide">
  <div class="progressbar-container">
    <div class="video-controls-progressbar">
      <div class="video-controls-progress">

      </div>
    </div>
  </div>

  <div class="video-controls-group play-group">
    <div class="video-controls-pause video-controls-button">
      <i class="fa fa-pause"></i>
    </div>
    <div class="video-controls-play video-controls-button hide">
      <i class="fa fa-play"></i>
    </div>
    <div class="video-controls-stepback video-controls-button">
      <i class="fa fa-step-backward"></i>
    </div>
  </div>

  <div class="video-controls-group fullscreen-group">
    <div class="video-controls-fullscreen video-controls-button">
      <i class="fa fa-arrows-alt"></i>
    </div>
    <div class="video-controls-unfullscreen video-controls-button hide">
      <i class="fa fa-compress"></i>
    </div>
  </div>

  <div class="video-controls-group volume-group">
    <div class="volumebar-container">
      <div class="video-controls-volumebar">
        <div class="video-controls-volume" style="width: 100%">

        </div>
      </div>
    </div>

    <div class="video-controls-mute video-controls-button">
      <i class="fa fa-volume-up"></i>
    </div>
    <div class="video-controls-unmute video-controls-button hide">
      <i class="fa fa-volume-off"></i>
    </div>
  </div>
</div>
