<div class="video-upnext hidden" bind-class="{'hidden': !player.showUpnext()}">
  <h1>Next Up</h1>
  <% if next_episode.present? && next_episode.overview.present? %>
    <p><%= truncate(next_episode.overview, length: 125, separator: ' ') %></p>
  <% end %>
  <% if next_episode.present? %>
    <div class="thumbnail-preview">
      <% if next_episode.thumbnails.present? %>
        <%= link_to show_source_video_path(next_episode, t: 0), id: 'next-episode-link' do %>
          <img class="video-thumbnail" src="<%= next_episode.thumbnails.first.url %>" alt="">
        <% end %>
      <% end %>
    </div>
    <p>
      Starting in <span bind="player.secondsLeft()"></span> seconds
    </p>
  <% end %>
</div>
