<%= render 'subnav' %>

<div class="movies-index--full movies-bg">
  <div class="window-box">
    <div class="panel scrolling-panel">
      <% if @items.present? %>
        <ul class="responsive-grid responsive-grid-6x">
          <% @items.each do |item| %>
            <% if item.class == Series %>
              <%= render 'shared/poster', show_path: series_path(item), poster_url: item.poster_url %>
            <% elsif item.class == Movie %>
              <%= render 'shared/poster', show_path: movie_path(item), poster_url: item.poster_url %>
            <% end %>
          <% end %>
          <div class="clearfix"></div>
        </div>
      <% end %>
    </div>
  </div>
</div>
