<div id="all_series" class="clearfix with-header">
  <div class="panel">
    <% if @items.present? %>
      <ul class="responsive-grid">
        <% @items.each do |item| %>
          <% if item.class == Series %>
            <li class="poster aspect10x7">
              <div class="poster-innards">
                <a class="poster-link aspect-poster" href="<%= series_path(item) %>">
                  <% if poster_url = item.poster_url %>
                    <img class="video-thumbnail has-aspect" src="<%= poster_url %>" alt="">
                  <% else %>
                    <img class="video-thumbnail has-aspect" src="/images/no-poster.png" alt="">
                  <% end %>
                </a>
              </div>
            </li>
          <% elsif item.class == Movie %>
            <li class="poster aspect10x7">
              <div class="poster-innards">
                <a class="poster-link aspect-poster" href="<%= movie_path(item) %>">
                  <% if poster_url = item.poster_url %>
                    <img class="video-thumbnail has-aspect" src="<%= poster_url %>" alt="">
                  <% else %>
                    <img class="video-thumbnail has-aspect" src="/images/no-poster.png" alt="">
                  <% end %>
                </a>
              </div>
            </li>
          <% end %>
        <% end %>
        <div class="clearfix"></div>
      </div>
    <% end %>
  </div>
</div>
