<div id="all_series" class="clearfix">
  <div class="panel">
    <% if @items.present? %>
      <ul class="responsive-grid">
        <% @items.each do |item| %>
          <% if item.class == Series %>
            <%= render 'shared/poster', show_path: series_path(item), poster_url: item.poster_url, item: item %>
          <% elsif item.class == Movie %>
            <%= render 'shared/poster', show_path: movie_path(item), poster_url: item.poster_url, item: item %>
          <% end %>
        <% end %>
        <div class="clearfix"></div>
      </div>
    <% end %>
  </div>
</div>
