<div class="alpha-picker">
  <% ('a'..'z').each do |letter| %>
    <%= link_to letter, paginator_path.call(alpha: letter), class: "alpha #{'active' if params[:alpha] == letter}" %>
  <% end %>
</div>
