<li class="poster aspect10x7">
  <div class="poster-innards">
    <%= link_to show_path, class: 'poster-link aspect-poster' do %>
      <% if poster_url.present? %>
        <img class="video-thumbnail has-aspect" src="<%= poster_url %>" alt="">
      <% else %>
        <div class="no-poster-available">
          <span><%= local_assigns[:title] || "Unknown" %></span>
        </div>
      <% end %>
    <% end %>
  </div>
</li>
