<li class="poster aspect10x7">
  <div class="poster-innards">
    <%= link_to show_path, class: 'poster-link aspect-poster' do %>
      <% if poster_url.present? %>
        <img class="video-thumbnail has-aspect" src="<%= poster_url %>" alt="">
      <% else %>
        <%= render 'shared/no_poster_available' %>
      <% end %>
    <% end %>
  </div>
</li>
