<div class="showpage-slideshow" define="{backgroundArtSlideshow: new Muvee.AutoSlideshow(this).transition().start()}">
  <div class="js-slideshow featured-image">
    <% art_urls.each do |art_url| %>
      <div class="js-slide movie-background hidden" data-background-url="<%= art_url %>"></div>
    <% end %>
  </div>

  <div class="showpage-slideshow__overlay">
    <%= yield %>
  </div>
</div>
