<% if actors.present? %>
  <div class="flex">
    <div class="showpage__section">
      <h2>Actors</h2>
      <div class="flex-columns flex-wrap">
        <% actors.each do |actor| %>
          <div class='actor-tile'>
            <div class="content">
              <% profile = actor.profile_picture_fanart %>
              <%= link_to paginator_path.call(actor) do %>
                <% if profile.present? %>
                  <div class="actor-profile-picture" style="background-image: url(<%= profile.url %>)"></div>
                <% else %>
                  <div class="actor-profile-picture" style="background-image: url(<%= asset_path('unknown-portrait.jpg') %>)"></div>
                <% end %>
              <% end %>
              <%= link_to actor.name, paginator_path.call(actor), class: "actor-name" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
