<div id="welcome-page">
  <div class="readable-page">
    <h1 class="flashy-banner">μv</h1>
    <p>
      To start, we need to do some initial configuration before you can start enjoying your media:
    </p>
    <%= render 'form', config: @config %>
  </div>
</div>
