@import 'variables';
@import 'utility';

a {
  cursor: pointer;
  text-decoration: none; color: inherit;
  &:hover {
    color: $radical-blue;
  }
}

ul {
  list-style-type: none;
}
p {
  font-size: 1.3em;
  color: #ccc;
}
h2, h3, h4, h5 {
  font-weight: 300;
}
h1 {
  font-size: 2.5em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.5em;
}
em {
  font-style: italic;

  color: rgb(188, 242, 255);
}
em.smaller {
  font-size:0.75em;
}
i.subdued {
  color: #aaa;
}

.panel {
  padding: 1em !important;
}

.scrolling-panel {
  @extend .mbox;
  overflow-y: auto;
}

.rename-table {
  border:none;
  border-collapse:collapse;
  border-spacing:0;
  font-size: 0.8em;
  td {
    padding: 0.5em 1em;
  }
  .to-arrow {
    text-align: center;
  }
  tr:nth-child(2n) {
    background: rgba(0,0,0,0.2);
  }
}

.error {
  color: $error !important;
}
.success {
  color: $success !important;
}
.notice {
  color: $notice !important;
}

.tracker-logo {
  display: block;
  width: 100px;
  height: 50px;
  text-indent: -99em;
  background-size: contain !important;
}
.tbp-logo {
  background: url(/tbp_logo.png) no-repeat;
}
.yts-logo {
  background: url(/yts_logo.png) no-repeat;
}

.fa-star, .fa-star-half-o {
  color: gold;
}
.fa-star-o {
  color: #777;
}
.fa-heart {
  color: rgb(255, 0, 92);
}
