@import 'variables';

.inline-block {
  display: inline-block;
}

#nprogress {
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20000;
  width: 100%;
  height: 5px;
  .bar {
    background: $radical-blue;
    height: 100%;
    width: 100%;
  }
}

.tracker-logo {
  display: block;
  width: 100px;
  height: 50px;
  text-indent: -99em;
  background-size: contain !important;
}
.tbp-logo {
  background: url(/tbp_logo.png) no-repeat;
}
.yts-logo {
  background: url(/yts_logo.png) no-repeat;
}

.inline-buttons .action-button {
  margin-right: 1em;
}

button.action-button, a.action-button, input.action-button {
  display: inline-block;
  width: auto;
  padding: 0.5em 1em;
  margin-top: 0.5em;
  background: #333;
  color: white;
  text-decoration: none;
  font-size: 1rem;
  border: 0;
  &:visited {
    color: white;
  }
  &:focus, &:hover {
    color: $radical-blue;
    background: #393939;
  }
}


.box-content {
  padding: 1rem;
}

.ralign {
  text-align: right;
}
.lalign {
  text-align: left;
}
.italic {
  font-style: italic;
}

.mbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.panel {
  padding: 1em !important;
}

.window-box {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.scrolling-panel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.responsive-grid {
  margin-top: -1em;
  padding: 0;
  list-style: none;
  position: relative;
  width: 100%;

  > li {
    position: relative;
    float: left;
    overflow: hidden;
    width: 25%;
    width: calc(100% / 4);
  }
  @media screen and (max-width: 660px) {
    li {
      width: 100%;
    }
  }
}
.responsive-grid-6x {
  li {
    width: 100% / 6;
    width: calc(100% / 6);
  }
}
