@import 'variables';

.inline-block {
  display: inline-block;
}

#nprogress {
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20000;
  width: 100%;
  height: 5px;
  .bar {
    background: $radical-blue;
    height: 100%;
    width: 100%;
  }
}

a {
  text-decoration: none; color: inherit;
  &:hover {
    color: $radical-blue;
  }
}

.tracker-logo {
  display: block;
  width: 100px;
  height: 50px;
  text-indent: -99em;
  background-size: contain !important;
}
.tbp-logo {
  background: url(/tbp_logo.png) no-repeat;
}
.yts-logo {
  background: url(/yts_logo.png) no-repeat;
}

.hide {
  display: none !important;
}
.fr {
  float: right;
}

.box-content {
  padding: 1rem;
}

.ralign {
  text-align: right;
}
.lalign {
  text-align: left;
}
.italic {
  font-style: italic;
}

.mbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.panel {
  padding: 1em !important;
}

.window-box {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.scrolling-panel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.fl {
  float: left;
}

.rename-table {
  border:none;
  border-collapse:collapse;
  border-spacing:0;
  td {
    padding: 0.5em 1em;
  }
  .from, .to {
    width: 45%;
    word-break: break-word;
    font-family: monospace;
    input, span {
      display: inline-block;
      font-size: 1em;
      font-family: monospace;
      border: 0;
      outline: 0;
      text-align: left;
      padding: 0;
      vertical-align: top;
    }
    input {
      background: lightyellow;
      width: 100%;
    }
  }
  .to-arrow {
    text-align: center;
  }
  tr:nth-child(2n) {
    background: #efefef;
  }
}

$fixed-search-transition-duration: 0.25s;
$fixed-search-padding: 3em;
.fixed-search {
  position: fixed;
  transition: all $fixed-search-transition-duration ease-in-out;
  top: 0;
  right: 0;
  opacity: 0;
  padding: $fixed-search-padding;
  padding-left: $nav-width + $fixed-search-padding;
  z-index: 1000;
  display: flex;
  align-items: center;

  width: 100%;
  background: #fafafa;

  font-size: 1em;
  color: #111;
  font-weight: 200;

  i {
    color: #aaa;
  }

  > * {
    font-size: 1.5em;
    margin-right: 1em;
  }
  > form {
    flex-grow: 1;
  }

  &.is-active {
    opacity: 1;
  }
}

.fixed-search__input {
  transition: all $fixed-search-transition-duration ease-in-out;
  display: inline-block;
  height: 100%;
  width: 100%;
  font-size: inherit;
  font-weight: 200;
  border: 0;
  border-bottom: 2px solid transparent;
  background: none;
  outline: 0;
  color: $less-radical-blue;
  padding: 0.25em;
  &:hover, &:focus {
    border-bottom: 2px solid #999;
  }
}

.index-actions {
  padding: 2em;
  color: white;
  background: linear-gradient(to bottom, black, #111);
  display: flex;
  h1, h2, h3, h4, h5 {
    color: $less-radical-blue;
  }
}
.index-actions__section {
  margin-right: 2em;
  text-align: left;
}

.index-notice {
  display: flex;
  height: 20em;
  width: 100%;
  color: white;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
