@import 'variables';

$form-element-padding: 0.4em 0.75em;
$form-element-margin: 0.5em 0;
$form-element-roundedness: 3px;

.action-button {
  cursor: pointer;
  display: inline-block;
  width: auto;
  font-weight: 100;
  line-height: inherit;
  border-radius: $form-element-roundedness;
  padding: $form-element-padding;
  margin: $form-element-margin;
  background: #333;
  color: white;
  text-decoration: none;
  font-size: 0.9rem;
  font-family: inherit;
  border: 1px solid transparent;
  &:visited {
    color: white;
  }
  &:focus, &:hover {
    color: $radical-blue;
    background: #393939;
    outline: 0;
  }

  i.fa {
    margin-right: 0.25em;
  }
}

form.inline-form {
  display: inline-block;
}

.action-button-group {
  .action-button {
    border-radius: 0;
    margin-right: 0;
    margin-left: 0;
  }
  :first-child {
    border-top-left-radius: $form-element-roundedness;
    border-bottom-left-radius: $form-element-roundedness;
  }
  :last-child {
    border-top-right-radius: $form-element-roundedness;
    border-bottom-right-radius: $form-element-roundedness;
  }
}
input[type='text'], textarea {
  &.action-button {
    background: #222;
  }
  &.action-button:focus {
    border: 1px solid #555;
  }
}
