@import 'variables';
@import 'utility';

$tile-transition-delay: 0.30s;

.tile-list {
  height: 100%;
  width: 100%;
}
.block-level-link {
  display: block;
}
.tile-row {
  display: flex;
  flex-direction: row;
  height: 66.6666%;
}
.tile-row--1-3 {
  height: 33%;
}
.tile-row--banner {
  height: 34%;
  border-bottom: 1px solid #222;
}
.col-2-3 {
  width: 66.6666%;
  display: flex;
  flex-direction: row;
  height: 100%;
}
.col-1-3 {
  width: 33.3333%;
  display: flex;
  flex-direction: row;
  height: 100%;
}

.flex-down {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}

.flex-columns {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  > * {
    flex: 0 0 auto;
    margin-right: 1em;
    margin-bottom: 0.5em;
  }
  &.flex-columns--top {
    align-items: flex-start;
  }
}

.tile {
  overflow: hidden;
  margin: 0;
  padding: 0;
  height: 100%;
  flex-grow: 1;
  position: relative;
  transition: all $tile-transition-delay ease-in-out;

  &.is-expanded {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
  }
}
.tile__background {
  @extend .mbox;
  background-color: black;
  background: no-repeat center center;
  background-size: cover;
  transition: all $tile-transition-delay ease-in-out;
}

.tile:hover .tile__meta {
  border-bottom: 5px solid $radical-blue;
  height: 200px;
}
.tile__meta-backdrop {
  @extend .mbox;
  opacity: 0;
  background: rgba(0,0,0,0.7);
  transition: opacity $tile-transition-delay ease-in-out;
  z-index: -1;
  will-change: opacity;
}
.tile:hover .tile__meta-backdrop {
  opacity: 1;
}
.tile:hover .video-description {
  height: 50px;
  opacity: 1;
}


.video-type, .video-year, .video-status {
  display: inline-block;
  text-transform: uppercase;
  font-size: 0.7em;
  color: $golden;
}
.video-status {
  color: #cacaca;
}
.video-year {
  float: right;
}


.badge {
  display: inline-block;
  font-size: 0.75em;
  font-weight: 200;
  margin: 0.2em 0;
  padding: 0.3em 1em;
  background: rgba(0,0,0,0.2);
  border: 1px solid #666;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  border-radius: 2px;
  transition: all 0.35s ease-in-out;
}
.linked-badge:hover, .badge.active {
  background: black;
  border: 1px solid $radical-blue;
}

.badge.quality-1080p {
  color: rgb(208, 255, 208);
  background: rgb(24, 66, 24);
  border-color: lighten(rgb(24, 66, 24), 10%);
  font-weight: 400;
}
.badge.quality-720p {
  background: #939622;
  color: black;
  border-color: lighten(#939622, 10%);
  font-weight: 400;
}

.video-genres {
  display: inline;
}

.tile__meta--banner {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  text-shadow: 1px 1px 0px black;
  background: linear-gradient(0deg, rgba(0,0,0,0.8), rgba(0,0,0,0.0));
  border-bottom: 5px solid rgba(0,0,0,0.8);
  color: white;
  padding: 1em;
  height: 100%;
  font-weight: 200;
  font-size: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  h1 {
    text-align: center;
    font-weight: inherit;
    transition: all 0.25s ease-in-out;
  }
  &:hover {
    h1, a {
      color: $golden;
    }
  }

  &:hover h1 {
    transform: scale(1.1);
  }
}

$fixed-meta-offset: 0.5em;
.tile__meta {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  text-shadow: 1px 1px 0px black;
  background: linear-gradient(0deg, rgba(0,0,0,0.8), rgba(0,0,0,0.0));
  border-bottom: 5px solid rgba(0,0,0,0.8);
  color: white;
  padding: 1em;
  height: 140px;
  will-change: height, border;
  p { color: inherit; }

  transition: all $tile-transition-delay ease-in-out;

  .video-title {
    font-size: 1.6em;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  .video-genres {
    position: absolute;
    bottom: $fixed-meta-offset;
    right: 1em;
  }
  .user-vote-rating {
    position: absolute;
    bottom: $fixed-meta-offset;
    left: 1em;
  }
  .video-description {
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all $tile-transition-delay ease-in-out;
    font-size: 0.95em;
    font-weight: 200;
    will-change: opacity;
  }


  .torrent-progress {
    position: absolute;
    bottom: -5px;
    left: 0;
    height: 5px;
    margin: 0;
    padding: 0;
  }
}

.torrent-progress .progress-bar__bar {
  background: $less-radical-blue;
}

@media (max-width: 1200px) {
  .tile {
    width: 100%;
    height: 300px;
  }
  .tile-row {
    flex-wrap: nowrap;
    flex-direction: column;
    height: auto;
  }
  .col-2-3, .col-1-3 {
    width: 100%;
    flex: 1 0 auto;
  }
}
