@import 'base';
@import 'variables';
@import 'utility';

.three-d {
  color: $less-radical-blue;
}

.inline-movie-preview {
  display: flex;
  .progress-bar__container {
    height: 5px;
  }

}

.metadata-service-logo-link {
  display: block;
  height: 35px;
  width: auto;
  img, svg {
    height: 100%;
    width: auto;
  }
}

.no-poster-available {
  @extend .mbox;
  background: #111;
  border: 1px solid #333;
  color: white;
  padding: 1em;
  text-align: center;
  font-style: italic;
  text-decoration: none;
  display: flex;
  align-items: center;
  &:hover, &:visited, &:focus {
    color: white;
  }
  > span {
    display: block;
    width: 100%;
    text-align: center;
  }
}

.parental-guidance-rating {
  display: inline-block;
  font-family: 'Gothic Bold', serif;
  text-transform: uppercase;
  font-weight: bold;
  border: 1px solid;
  color: #888;
  padding: 0.15em 0.4em;
}

.trailers {
  .trailer {
    @include aspect-ratio(16, 9);
  }
}
