@import 'base';
@import 'variables';

#movie-show {
  height: 100%;
}

.movies-bg {
  background: black;
}
.inline-movie-preview {
  position: relative;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.movie-background {
  background-repeat: no-repeat;
  background-size: cover !important;
  background-position: 50% 50%;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.5s ease-in-out;
  opacity: 1;
  &.hidden {
    opacity: 0;
  }
}




.three-d {
  color: $less-radical-blue;
}

.featured-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.slideshow-pool {
  height: 100%;
  width: 100%;
  position: absolute;
}

.movies-index__container {
  position: relative;
  width: 100%;
  height: 100%;
}

.action-badges {
  float: right;
}

.inline-movie-preview {
  display: flex;
  .progress-bar__container {
    height: 5px;
  }

}

.bg-overlay {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  .play-icon {
    flex: 1 0 10em;
    font-size: 1.3em;
    color: white;
    text-shadow: 1px 1px 1px black;
    position: relative;
  }
}
.top-scrim {
  z-index: 100;
  width: 100%;
  flex: 0 0 auto;
  padding: 1rem;
  background: linear-gradient(0deg, rgba(0,0,0,0), rgba(0,0,0,0.3));
}
.cover-scrim {
  z-index: 100;
  width: 100%;
  background: linear-gradient(0deg, rgba(0,0,0,1), rgba(0,0,0,0.75));
}
.movie-meta {
  color: white;
  padding-left: 1rem;
  font-size: 0.8em;
  flex: 1 1 auto;
}
.movie-meta--right {
  width: 12em;
  font-size: 1em;
  padding-left: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  flex-direction: column;
  flex: 0 0 auto;
}
i.subdued {
  color: #aaa;
}
.movie-poster {
  width: auto;
  height: 13em;
  border-radius: 3px;
  box-shadow: 2px 2px 4px rgba(0,0,0, 0.8);
  flex: 0 0 auto;
}

#ImdbLogoSvg {
  height: 30px;
  width: 60px;
}
#TmdbLogoSvg {
  height: 50px;
  width: 200px;
  path {
    fill: white;
  }
}

.movie-information-meta__section {
  padding: 1em;
  margin: 1em auto;
  flex: 0 1 60em;
  color: #ccc;
}

.torrent-progress-meter {
  margin-top: 0.5em;
  width: 100%;
  height: 2em;
  position: relative;
  background: #333;
  padding: 0.5em 1em;
  color: white;
  .torrent-progress {
    position: absolute;
    z-index: 1;
    background: green;
    height: 100%;
    width: 0;
    top: 0;
    left: 0;
  }
  .downloading {
    font-size: 0.75em;
    position: absolute;
    top: 0;
    left: 0;
    line-height: 2.6em;
    width: 100%;
    z-index: 2;
    text-align: center;
    text-shadow: 1px 1px 1px #111;
  }
}


.no-poster-available {
  @extend .mbox;
  background: #111;
  border: 1px solid #333;
  color: white;
  padding: 1em;
  text-align: center;
  font-style: italic;
  text-decoration: none;
  display: flex;
  align-items: center;
  &:hover, &:visited, &:focus {
    color: white;
  }
  > span {
    display: block;
    width: 100%;
    text-align: center;
  }
}

.movie-information-header {
  display: flex;

  .year, .duration {
    i.fa {
      color: #777;
    }
  }
  .duration, .year, .star-rating {
    font-size: 1em;
    font-weight: 100;
  }
}
.movie-information-header__row {
  margin-bottom: 0.4rem;
}
.movie-title {
  color: $radical-blue;
}
.movie-tagline {
  font-size: 1.4em;
  margin: 0 0 0.4em 0;
}

#all_movies_by_genre {
  min-height: 100%;
  min-width: 100%;
  background: black;
  background: $sleek-transparent-black;
}
.genres-box {
  padding-top: 10em;
  display: flex;
  justify-content: center;
  > div {
    padding: 2em;
  }
  a {
    color: white;
    text-decoration: none;
    font-style: italic;
    font-weight: normal;
    &:visited {
      color: white;
    }
    &:hover, &:focus {
      color: $radical-blue;
    }
  }
}


.imdb-logo-link {
  display: inline-block;
}

.actor-tile {
  flex: 1 0 10em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 20em;
  margin: 0 !important;
  overflow: hidden;
  &:hover {
    .actor-name {
      color: $less-radical-blue;
    }
  }
}
.actor-profile-picture {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50% 50%;
  z-index: 1;
  flex: 1;
}
.actor-name {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,0.7);
  width: 100%;
  padding: 1em;
  font-size: 0.8em;
  z-index: 2;
  &.full {
    height: 100%;
  }
}

.actor-details {
  color: white;
  margin: 1em;
  .actor-profile-picture {
    height: 24em;
    width: 14em;
  }
  p {
    font-size: 1.2em;
    font-weight: 100;
    margin: 1em 0;
  }
}

.parental-guidance-rating {
  display: inline-block;
  font-family: 'Gothic Bold', serif;
  text-transform: uppercase;
  font-weight: bold;
  border: 1px solid;
  color: #888;
  padding: 0.15em 0.4em;
}
