@import 'variables';

$nav-width: 6em;

body {
  background: black;
}

.main-navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: $nav-width;
  height: 100%;
  z-index: 2000;
  background: black;
  background: $sleek-transparent-black;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-right: 1px solid $nav-border-color;
}

.main-navigation__items {
  margin: 0;
  padding: 0;
  width: 100%;
  list-style-type: none;
  color: white;
  li {
    text-align: center;
    font-size: 1.1em;
    border-bottom: 1px solid $nav-border-color;
    &.active, &:hover {
      background: rgba(0,0,0,0.9);
      color: $radical-blue;
    }

    a {
      color: inherit;
      padding: 1em 0;
      display: block;
      width: 100%;
      height: 100%;

      &.active {
        color: $radical-blue;
      }
    }
    &:last-child {
      border-bottom: 0;
    }
  }
  i {
    font-size: 1.5em;
  }
  h1 {
    text-transform: uppercase;
    color: $golden;
    font-size: 1em;
    font-weight: 200;
  }
}

.subnav {
  text-transform: uppercase;
  color: desaturate($golden, 50%);
  font-size: 0.66em;
}

.main-content-container {
  width: 100%;
  height: 100%;
  padding-left: $nav-width;
}
.main-content {
  width: 100%;
  height: 100%;
  position: relative;
}
