@import 'colors';

.main-navigation {
  position: fixed;
  width: 100%;
  z-index: 2000;
  background: black;
  background: $sleek-transparent-black;
  padding: 1.5em 3em;
  top: 0;
  transition: all 1s ease-in-out;
  &.hidden {
    top: -6em;
  }
}

a.top-nav-button {
  font-size: 2em;
  color: inherit;
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
  padding: 0.25em 0.5em;
  outline: 0;
}

.top-nav-container {
  width: 100%;
  list-style: none;
  li {
    display: inline-block;
    color: white;
    &.active {
      background: rgba(255,255,255,0.1);
    }
  }

  a {
    text-decoration: none;
    color: white;
    &:visited {
      color: inherit;
    }
    &:focus, &:hover {
      color: darken($radical-blue, 30%);
    }
  }

  &.subnav {
    margin-top: 0.5rem;
    li {
      margin-right: 2em;
    }
  }
}
.with-header {
  padding-top: 6em;
}
