@import "variables";

#series_overview {
  padding: $basic-padding 0;
  font-size: 1em;
  h3 { font-size: 1.2em; }
  .torrent-source {
    float: none;
    width: 100%;
    table {
      width: 100%;
    }
  }
}

.flex-fixed {
  flex: 0 0 auto;
}

#series {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;

  .series-information, .video-list {
    background: rgba(0,0,0,0.85);
    color: white;
    padding: 3em;
    overflow-y: auto;
  }

  .series-information  {
    flex: 1 1 40%;
  }
  .video-list {
    flex: 1 1 60%;
  }

  .badges {
    margin: 0.25em 0;
  }
  .badge-listing {
    margin: 0.2em 0;
  }
  .video-list-container {
    padding: 3em;
  }
  .video-tile {
    display: flex;
    align-items: top;
    color: white;
  }
  .duration {
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(0,0,0,0.8);
    padding: 0.25em 1em;
    color: white;
  }
  .video-link {
    margin-right: 1em;
    min-width: 20em;
    max-width: 20em;
  }
  .thumbnail-area {
    width: 100%;
  }
  .thumbnails {
    height: 100%;
    width: 100%;
  }
  .series-buttons {
    font-size: 1.1rem;
    width: 100%;
    a {
      color: white;
      text-decoration: none;
      &:visited {
        color: white;
      }
      &:hover, &:focus {
        color: darken($radical-blue, 20%);
      }
    }
  }
  .featured-episode {
    margin-top: 2em;
    padding: 0 3em 0 3em;
    .video-tile {
      border-top: 0;
      margin-top: 0;
    }
    .thumbnails {
      outline: 1px solid #333;
      box-shadow: 0px -10px 40px rgba(0, 0, 0, 0.5);
    }
    h1 {
      font-weight: lighter;
    }
    .thumbnail-area {
      width: 100%;
      float: none;
    }
    .description-area {
      padding-top: 1.5em;
    }
  }
}

.season-and-episode {
  color: $golden;
}
.released-on {
  width: 4rem;
  font-size: 0.65rem;
}

.series-featured-image {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0.8;
}

.episode-watch-progress {
  min-width: 8em;
  min-height: 0.5em;
}

.series-episode {
  padding: 0.5em 1em;
  font-size: 0.9em;
  font-weight: 200;
  transition: all 0.5s ease-in-out;
  &:hover {
    background: rgba(0,0,0,0.5);
  }
}

.video-detailed-summary {
  margin: 0.5em;
  p {
    color: #ddd;
    font-size: 1.1em;
    font-size: inherit;
    margin-bottom: 1em;
  }
  a:hover, a:focus {
    .thumbnails {
      outline: 5px solid $radical-blue;
    }
  }
}

.episode-torrent-source {
  display: flex;
  align-items: center;
  span {
    flex: 1 1 auto;
  }
  > * {
    margin-right: 0.5em;
  }
}

.video-quick-summary {
  display: flex;
  align-items: center;
  > * {
    margin-right: 1em;
  }

  .icon-link {
    display: block;
    padding: 0.25em;
    font-size: 1.2em;
    margin-top: 2px;
    margin-right: 0.5em;
  }
  .season-and-episode {
    width: 2em;
    text-align: right;
  }
  .episode-title {
    cursor: pointer;
    flex-grow: 1;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    &:hover {
      color: $radical-blue;
    }
  }
  .episode-watch-progress {
    width: 50px;
  }
}

.num-unacquired {
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  text-align: center;
  z-index: 10;
  padding: 0.5rem;
  background: rgba(0, 0, 0, 0.75);
  font-size: 0.75em;
  color: white !important;
  text-shadow: none !important;
}
