@import 'variables';
@import 'utility';

.job-reporter-grid {
  display: flex;
  align-items: center;
}
.job-name {
  padding-right: $basic-padding;
  font-weight: 200;
  width: 30%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.job-details {
  height: 2em;
  flex-grow: 1;
}
.job-quantity {
  width: 8em;
}
.job-current, .job-max {
  display: block;
  width: 5em;
  text-align: center;
}
.job-max {
  &::before {
    content: "of "
  }
}
.job-message {
  max-width: 70%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.job-info {
  @extend .mbox;
  display: flex;
  align-items: center;
  font-size: 0.7em;
  > * {
    flex-grow: 1;
  }
}
.job-progress {
  text-align: right;
  width: 4em;
  padding-right: 2em;
}
