// Place all the styles related to the Torrents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.torrent-sources-table {
  width: 100%;
  font-weight: 200;
  border-spacing: 0;
  thead {
    font-style: italic;
    color: #aaa;
  }
  td {
    padding: 0.45rem 0.25rem;
  }
  .action-button {
    margin-top: 0;
    margin-bottom: 0;
  }
  tr:nth-child(2n) {
    background: rgba(255,255,255,0.05);
  }
  tbody tr:hover {
    background: rgba(255,255,255,0.1);
  }
  .ralign {
    text-align: right;
  }
}
