@import 'variables';

.clearfix {
  &::after {
    content: "";
    display: block;
    visibility: hidden;
    line-height: 0;
    height: 0;
    clear: both;
  }
}
.inline-block {
  display: inline-block;
}
.flex {
  display: flex;
}
.st {
  margin-top: $basic-padding / 2;
}
.sst {
  margin-top: $basic-padding;
}
.sb {
  margin-bottom: $basic-padding / 2;
}
.ssb {
  margin-bottom: $basic-padding;
}
.hide {
  display: none !important;
}
.fr {
  float: right;
}
.fl {
  float: left;
}
.ralign {
  text-align: right;
}
.lalign {
  text-align: left;
}
.italic {
  font-style: italic;
}
.mbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
