$nav-width: 6em;
$sleek-black: #111;
$sleek-transparent-black: transparentize($sleek-black, 0.125);
$mostly-black: rgba(0,0,0,0.65);
$mostly-black-darker: rgba(0,0,0,0.85);
$radical-blue: rgb(148, 221, 255);
$less-radical-blue: #30b5f3;
$success: rgb(57, 176, 57);
$error: rgb(202, 33, 33);
$notice: rgb(255, 255, 167);
$golden: rgb(242, 190, 92);
$nav-border-color: rgba(255,255,255,0.1);
$progressive-green: rgb(29, 132, 29);
$basic-padding: 1em;

$topnav-height: 6em;
