@import 'variables';

video {
  max-height: 100%;
  max-width: 100%;
}

.clearfix {
  &::after {
    content: "";
    display: block;
    visibility: hidden;
    line-height: 0;
    height: 0;
    clear: both;
  }
}

ul {
  list-style-type: none;
}
p {
  font-size: 1.3em;
  color: #ccc;
}
h2, h3, h4, h5 {
  font-weight: 300;
}
h1 {
  font-size: 2.5em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.5em;
}
em {
  font-style: italic;

  color: rgb(188, 242, 255);
}
em.smaller {
  font-size:0.75em;
}

.video-container {
  background: black; // since movies will use pure black for their letterboxing
  width: 100%;
  height: 100%;
  display: table;
  video {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    height: 100%;
  }
}

section {
  ul {
    margin-left: 1em;
  }
}

a.back {
  display: inline-block;
  background: #222;
  color: #ddd;
  padding: 0 0.25em;
  &:active, &:focus {
    outline: 5px solid $radical-blue;
  }
}

.fa-heart {
  color: rgb(255, 0, 92);
}

.thumbnail-area {
  position: relative;
}
.thumbnails {
  position: relative;
}

.play-icon {
  @extend .mbox;
  display: flex;
  justify-content: center;
  align-items: center;

  .play-icon-link {
    transition: all 0.5s ease-in-out;
    text-align: center;
    padding: 2em;
    i {
      font-size: 4em;
    }
    .source-quality {
      text-transform: uppercase;
      font-weight: 200;
    }
  }
}

.video-thumbnail {
  width: 100%;
  height: auto;
  display: block;
  &.hidden {
    display: none;
  }
}

#all-videos {
  background: $sleek-black;
}

.poster-link, .poster img { display: block; }
.poster {
  position: relative;
  z-index: 2;
  overflow: hidden;
  float: left;
  flex: 1 0 10em;
  color: white;
  padding: 0.25em;
  font-size: 1.4em;
  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}
.poster-link:focus, .poster-link:hover {
  > img, > .no-poster-available {
    outline: 5px solid $radical-blue;
  }
}

.poster-button {
  cursor: pointer;
  display: block;
  float: left;
  padding: 0.5em 1em;
  color: #ddd;
  border: 0;
  height: 100%;
  background-color: #222;
  text-shadow: 1px 1px 0px black;
  text-decoration: none;
  &.btn-primary {
    background: darken(green, 10%);
    &:hover, &:focus {
      background: green;
    }
  }
  &:focus, &:hover {
    background-color: #444;
    box-shadow: inset 0px 0px 1px rgba(255, 255, 255, 0.55);
    outline: 0;
  }
}

.img-errored {
  z-index: 1;
}

.aspect-poster {
  position: relative;
  img {
    z-index: 2;
  }
  padding-bottom: 148.00%; /* 16:9 */
  padding-top: 25px;
  height: 0;
  .has-aspect {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
}

.aspect16x9 {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
  img, video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
}
.aspect16x10 {
  @extend .aspect16x9;
  padding-bottom: 62.5%;
}
.aspect16x8 {
  @extend .aspect16x9;
  padding-bottom: 50%;
}

.poster-innards {
  position: relative;
  span {
    text-shadow: 1px 1px 5px black;
  }
  .title {
    position: absolute;
    display: block;
    bottom: 0em;
    right: 0em;
    padding: 0.25em 0.5em;
    background: rgba(0,0,0,0.75);
  }
  .season {
    position: absolute;
    display: block;
    top: 0em;
    left: 0em;
    padding: 0.25em 0.5em;
    background: rgba(0,0,0,0.55);
  }
}
