@import 'colors';

video {
  max-height: 100%;
  max-width: 100%;
}

.clearfix {
  &::after {
    content: "";
    display: block;
    visibility: hidden;
    line-height: 0;
    height: 0;
    clear: both;
  }
}

ul {
  list-style-type: none;
}
p {
  font-size: 1.3em;
  color: #ccc;
}
h2, h3, h4, h5 {
  font-weight: 300;
}
h1 {
  font-size: 2.5em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.5em;
}
em {
  font-style: italic;

  color: rgb(188, 242, 255);
}
em.smaller {
  font-size:0.75em;
}

.hide {
  display: none;
}
.fr {
  float: right;
}

.video-container {
  background: black; // since movies will use pure black for their letterboxing
  width: 100%;
  height: 100%;
  display: table;
  video {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    height: 100%;
  }
}

section {
  ul {
    margin-left: 1em;
  }
}

a.back {
  display: inline-block;
  background: #222;
  color: #ddd;
  padding: 0 0.25em;
  &:active, &:focus {
    outline: 5px solid $radical-blue;
  }
}

.fa-heart-o {
  color: #444;
}
.is-favourite {
  color: rgb(255, 0, 92);
}

.thumbnail-area {
  position: relative;
}
.thumbnails {
  position: relative;
}

.play-icon {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  i {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 5rem;
    margin-top: -2.5rem;
    transition: all 0.5s ease-in-out;
  }
}

.video-thumbnail {
  width: 100%;
  height: auto;
  display: block;
  &.hidden {
    display: none;
  }
}

#all-videos {
  background: $sleek-black;
}

#all_series {
  min-height: 100%;
  background: $sleek-black;
  .poster-container {
    padding: 4em 8em;
  }
  .poster-buttons {
    border: 1px solid #333;
    border-top: 0;
  }
}

.poster-link, .poster img { display: block; }
.poster {
  position: relative;
  z-index: 2;
  overflow: hidden;
  float: left;
  width: 20em;
  color: white;
  padding: 0.5rem 1rem;
  margin: 0.5rem 0; // don't just use padding, because we want the reverse tab action to bring the outline into complete focus
  font-size: 1.4em;
  img {
    width: 100%;
    height: auto;
    opacity: 0.8;
  }
}
.poster-link:focus, .poster-link:hover {
  img {
    opacity: 1;
    outline: 5px solid $radical-blue;
  }
}

button {
  border: inherit;
  background: transparent;
  font-size: inherit;
  color: inherit;
  line-height: inherit;
  cursor: pointer;
  outline: 0;
  &:focus {
    outline: 0;
  }
}

.fave-heart {
  font-size: 2em;
  padding: 10px;
  text-shadow: 0px 0px 5px rgba(0,0,0,0.8);
}

.dropdown {
  position: relative;
}
.dropdown-options {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 300%;
  overflow-y: auto;
  .dropdown-item {
    display: block;
    width: 100% !important;
    height: 100%;
  }
}

.poster-button {
  cursor: pointer;
  display: block;
  float: left;
  padding: 0.5em 1em;
  color: #ddd;
  border: 0;
  height: 100%;
  background-color: #222;
  text-shadow: 1px 1px 0px black;
  text-decoration: none;
  &.btn-primary {
    background: darken(green, 10%);
    &:hover, &:focus {
      background: green;
    }
  }
  &:focus, &:hover {
    background-color: #444;
    box-shadow: inset 0px 0px 1px rgba(255, 255, 255, 0.55);
    outline: 0;
  }
}

.watch-progress {
  width: 100%;
  height: 15px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: black;
  outline: 1px solid #333;
  .watched-bar {
    height: 100%;
    width: 0;
    position: absolute;
    left: 0;
    top: 0;
    background: green;
  }
}



.responsive-grid {
  margin-top: -1em;
  padding: 0;
  list-style: none;
  position: relative;
  width: 100%;

  > li {
    position: relative;
    float: left;
    overflow: hidden;
    width: 25%;
    width: calc(100% / 4);
  }
  @media screen and (max-width: 660px) {
    li {
      width: 100%;
    }
  }
}
.responsive-grid-6x {
  li {
    width: 100% / 6;
    width: calc(100% / 6);
  }
}

.aspect-poster {
  position: relative;
  padding-bottom: 148.00%; /* 16:9 */
  padding-top: 25px;
  height: 0;
  .has-aspect {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
}

.aspect16x9 {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
  img, video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
}
.aspect16x10 {
  @extend .aspect16x9;
  padding-bottom: 62.5%;
}
.aspect16x8 {
  @extend .aspect16x9;
  padding-bottom: 50%;
}

.poster-innards {
  position: relative;
  span {
    text-shadow: 1px 1px 5px black;
  }
  .title {
    position: absolute;
    display: block;
    bottom: 0em;
    right: 0em;
    padding: 0.25em 0.5em;
    background: rgba(0,0,0,0.75);
  }
  .season {
    position: absolute;
    display: block;
    top: 0em;
    left: 0em;
    padding: 0.25em 0.5em;
    background: rgba(0,0,0,0.55);
  }
}


.inline-sources {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  height: 100%;
  width: 100%;
  font-size: 0.5em;
  color: white;
  background: rgba(0,0,0,0.9);
  padding: 1em;
  .source {
    display: block;
  }
}
