@import 'variables';
@import 'utility';

video {
  max-height: 100%;
  max-width: 100%;
}

.video-container {
  background: black; // since movies will use pure black for their letterboxing
  width: 100%;
  height: 100%;
  display: table;
  video {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    height: 100%;
  }
}

.thumbnail-area {
  position: relative;
}
.thumbnails {
  position: relative;
}

.play-icon {
  @extend .mbox;
  display: flex;
  justify-content: center;
  align-items: center;

  .play-icon-link {
    transition: all 0.5s ease-in-out;
    text-align: center;
    padding: 2em;
    i {
      font-size: 4em;
    }
    .source-quality {
      text-transform: uppercase;
      font-weight: 200;
    }
  }
}

.video-thumbnail {
  width: 100%;
  height: auto;
  display: block;
  &.hidden {
    display: none;
  }
}
