@import 'colors';

$roundedness: 5px;

#watch {
  position: relative;
}

.video-back-button {
  display: none;
  position: absolute;
  top: 5rem;
  left: 5rem;
  color: white;
  a:visited {
    color: inherit;
  }
  font-size: 4em;
  a {
    padding: 5px;
    text-shadow: 1px 1px 5px black;
  }
  &:hover, &:focus {
    color: $radical-blue;
  }
}

.video-controls {
  position: absolute;
  z-index: 200;
  width: 80%;
  left: 10%;
  bottom: 10%;
  height: 2em;
  background: rgba(0,0,0,0.8);
  border-radius: $roundedness;
  padding: 0 0.5em;
}

// buttons
.video-controls-group {
  display: inline-block;
  position: relative;
  z-index: 10;
  height: 100%;
}
.video-controls-button {
  font-size: 1.5em;
  line-height: 1.5em;
  color: white;
  width: 1.5em;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  max-height: 100%;
}
.volume-group, .fullscreen-group {
  float: right;
}

// volume bar
.volumebar-container {
  width: 8em;
  height: 100%;
  padding: 10px 0;
  overflow: hidden;
  border-radius: 10px;
  float: left;
  border-radius: $roundedness;
}
.video-controls-volumebar {
  width: 100%;
  height: 100%;
  position: relative;
  background: #555;
  overflow: hidden;
}
// progress bar
.progressbar-container {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 10px 14em 10px 6em;
  overflow: hidden;
  z-index: 1;
}
.video-controls-progressbar {
  width: 100%;
  height: 100%;
  position: relative;
  background: #555;
  overflow: hidden;
}
.video-controls-volume, .video-controls-progress {
  height: 100%;
  width: 0;
  position: absolute;
  left: 0;
  top: 0;
  background: green;
  box-shadow: inset 2px 2px 1px rgba(255,255,255,0.3);
}
.video-controls-volumebar, .video-controls-volume, .video-controls-progressbar, .video-controls-progress {
  border-radius: $roundedness;
}
.video-controls-volume, .video-controls-progress {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.video-controls-time-remaining {
  pointer-events: none;
  position: absolute;
  right: 0.5em;
  top: 0em;
  font-size: 0.8em;
  color: white;
  text-shadow: 1px 1px 0px black;
}
