@import 'variables';
@import 'utility';

#watch {
  width: 100%;
  height: 100%;
  overflow: hidden;

  .season-and-episode {
    font-size: 0.5em;
  }
  .episode-title {
    color: $radical-blue;
  }
}

.video-watch-meta {
  @extend .mbox;
  background: black;
  background: rgba(0,0,0,0.9);
  background: linear-gradient(45deg, rgba(0,0,0,1), rgba(0,0,0,0.5));
  z-index: 20;
  color: white;
  padding: 3.5em;
  opacity: 1;
  transition: all 0.5s ease-in-out;
  > * {
    max-width: 35em;
  }

  .title {
    margin: 0.5em 0 0 0;
    color: white;
    a {
      color: inherit;
      &:visited {
        color: inherit;
      }
    }
  }
  .title-information {
    margin: 5em 0 2em 0;
    font-size: 1.2em;
  }
  .description {
    margin-top:1.5em;
  }
}

.video-upnext {
  position: absolute;
  z-index: 50;
  top: 0;
  right: 0;
  padding: 2em;
  width: 25em;
  background: rgba(0,0,0,0.9);
  h1 {
    text-transform: uppercase;
    color: $golden;
    font-size: 1em;
    font-weight: normal;
    font-style: italic;
  }
  > * {
    margin: $basic-padding 0;
  }
  :first-child {
    margin-top: 0;
  }
  :last-child {
    margin-bottom: 0;
  }
}

.hidden {
  opacity: 0;
  visibility: hidden;
}
