<div class="video-detailed-summary remote" define="{showSpoilers: false}">

  <p>
    <% if video.torrents.present? %>
      Downloading <%= video.torrents.size %> torrents now...
    <% end %>

    <% if @torrent_sources.blank? %>
      No sources were found for this episode.
    <% end %>
  </p>

  <% if video.overview.present? %>
    <p class="video-overview hide" bind-show="showSpoilers">
      <%= video.overview %>
    </p>
    <button class="action-button" bind-event-click="showSpoilers = !showSpoilers">
      <span bind-show="!showSpoilers">Show spoilers</span>
      <span bind-show="showSpoilers">Hide spoilers</span>
    </button>
  <% end %>

  <%= render 'shared/sources_table',
        sources: @torrent_sources,
        object_unique_id: "video-#{video.id}",
        find_more_path: self.method(:show_episode_details_series_index_path),
        find_more_path_args: [{episode_id: video.id}],
        download_path: self.method(:download_series_path),
        download_path_args: [video.series, video] %>

</div>
