<div class="video-detailed-summary remote">

  <% if video.released_on.present? %>
    <p>
      <i class="subdued fa fa-calendar"></i>
      <%= airs_on_summary(video.released_on) %>
    </p>
  <% end %>

  <% if video.overview.present? %>
    <p class="video-overview">
      <%= video.overview %>
    </p>
  <% end %>

  <p>
    <% if video.torrents.present? %>
      Downloading <%= video.torrents.size %> torrents now...
    <% end %>

    <% if @torrent_sources.blank? %>
      No sources were found for this episode.
    <% end %>
  </p>

  <% if @torrent_sources.present? %>
    <%= render 'shared/sources_table',
          sources: @torrent_sources,
          object_unique_id: "video-#{video.id}",
          find_more_path: self.method(:show_episode_details_series_index_path),
          find_more_path_args: [{episode_id: video.id}],
          download_path: self.method(:download_series_path),
          download_path_args: [video.series, video] %>
  <% end %>

</div>
