<% content_for :subnav do %>
<ul class="top-nav-container subnav">
  <li>
    <%= link_to 'On deck', newest_unwatched_series_index_path %>
  </li>
  <li>
    <%= link_to 'Newest', newest_episodes_series_index_path %>
  </li>
  <li>
    <%= link_to 'Series', series_index_path %>
  </li>
  <li>
    <%= link_to 'Others', nonepisodic_series_index_path %>
  </li>
</ul>
<% end %>
