<% content_for :series_subnav do %>
<ul class="subnav">
  <li>
    <%= link_to 'On deck', newest_unwatched_series_index_path, class: @section == :newest_unwatched ? 'active' : '' %>
  </li>
  <li>
    <%= link_to 'Newest', newest_episodes_series_index_path, class: @section == :newest ? 'active' : '' %>
  </li>
  <li>
    <%= link_to 'Series', series_index_path, class: @section == :series ? 'active' : '' %>
  </li>
  <li>
    <%= link_to 'Others', nonepisodic_series_index_path, class: @section == :nonepisodic ? 'active' : '' %>
  </li>
</ul>
<% end %>
