<%= render 'subnav' %>

<div class="index-actions flex-wrap" define="{findClicked: false}">
  <div class="index-actions__section">
    <h3>Discover more shows</h3>
    <%= link_to discover_more_series_index_path, class: 'action-button', 'tg-remote' => 'POST' do %>
      <i class="fa fa-binoculars"></i>
      Sure, find me some
    <% end %>
  </div>
  <%= render 'shared/series_discovery_reporter' %>
</div>

<%= render 'series_results', paginator_path: self.method(:discover_series_index_path) %>
