<div id="all_series" class="clearfix with-header">
  <div class="panel">
    <% if @series.present? %>
      <ul class="responsive-grid">
        <% @series.each do |serie| %>
          <li class="poster aspect10x7">
            <div class="poster-innards">
              <a class="poster-link aspected" href="<%= series_path(serie) %>">
                <% if poster_url = serie.poster_url %>
                  <img class="video-thumbnail" src="<%= poster_url %>" alt="">
                <% else %>
                  <img class="video-thumbnail" src="/images/no-poster.png" alt="">
                <% end %>
              </a>
              <button>
                <i class="fa fa-heart is-favourite"></i>
              </button>
            </div>
          </li>
        <% end %>
        <div class="clearfix"></div>
      </div>
    <% else %>
      <div>No series found.</div>
    <% end %>
  </div>
</div>
