<%= render 'subnav' %>

<% if @series.present? %>
  <div class="tile-list responsive-grid responsive-grid-6x" <% if @_is_paged %>define="{pager: new Muvee.Pager(this)}"<% end %>>
    <% @series.each do |serie| %>
      <%= render 'shared/poster', show_path: series_path(serie), poster_url: serie.poster_url, title: serie.title %>
    <% end %>
    <div class="clearfix"></div>
  </div>
<% else %>
  <div>No series found.</div>
<% end %>
