<% content_for :subnav do %>
<ul class="top-nav-container subnav">
  <li>
    <%= link_to 'Series', series_index_path %>
  </li>
  <li>
    <%= link_to 'Others', nonepisodic_series_index_path %>
  </li>
</ul>
<% end %>

<div id="all_series" class="clearfix with-header">
  <div class="panel">
    <% if @series.present? %>
      <ul class="responsive-grid">
        <% @series.each do |serie| %>
          <li class="poster aspect10x7">
            <div class="poster-innards">
              <a class="poster-link aspect-poster" href="<%= series_path(serie) %>">
                <% if poster_url = serie.poster_url %>
                  <img class="video-thumbnail has-aspect" src="<%= poster_url %>" alt="">
                <% else %>
                  <img class="video-thumbnail has-aspect" src="/images/no-poster.png" alt="">
                <% end %>
              </a>
            </div>
          </li>
        <% end %>
        <div class="clearfix"></div>
      </div>
    <% else %>
      <div>No series found.</div>
    <% end %>
  </div>
</div>
